# Vitte UltiSnips

snippet proc
proc ${1:name}(${2:args})${3: -> ${4:type}} {
  ${0}
}
endsnippet

snippet form
form ${1:Name} {
  ${0}
}
endsnippet

snippet match
match ${1:expr} {
  case ${2:pattern} {
    ${0}
  }
  otherwise {
  }
}
endsnippet

snippet entry
entry ${1:main} at ${2:core/app} {
  ${0}
}
endsnippet

snippet use
use ${1:std/core/types}.${2:i32}
endsnippet
