Package: vitte
Version: 2.1.2
Section: devel
Priority: optional
Architecture: amd64
Maintainer: Vitte Team <maintainers@vitte.dev>
Depends: bash, libc6, libstdc++6, libssl3 | libssl1.1, libcurl4, libncurses6 | libncursesw6, libgtk-3-0, clang, lld, make, g++ | c++-compiler, python3, python3-tk
Homepage: https://vitte.netlify.app/
Installed-Size: 64848
Vcs-Browser: https://github.com/vitte/vitte
Vcs-Git: https://github.com/vitte/vitte.git
Bugs: https://github.com/vitte/vitte/issues
Description: Vitte systems language toolchain
 Unified Vitte toolchain package including binary, runtime sources,
 standard packages, editors support, manpages and shell completions.
