[Desktop Entry]
Type=Application
Name=Vitte Studio
Comment=Run Vitte programs
Exec=desktop-gtk %F
Icon=vitte-desktop
Terminal=false
Categories=Development;IDE;
MimeType=text/x-vitte;
