{{CLANG_EXE_ARGS}}

{{ACTION_ARGS}}

{{LANG_ARGS}}
{{STD_ARGS}}

{{TARGET_ARGS}}
{{ARCH_ARGS}}
{{CPU_ARGS}}
{{SYSROOT_ARGS}}
{{SDK_ARGS}}

{{DIAGNOSTICS_ARGS}}
{{WARN_ARGS}}
{{WERROR_ARGS}}

{{OPT_ARGS}}
{{DEBUG_ARGS}}
{{LTO_ARGS}}

{{PIC_ARGS}}
{{VISIBILITY_ARGS}}
{{THREADS_ARGS}}

{{DEFINES_ARGS}}
{{INCLUDES_ARGS}}
{{SYSTEM_INCLUDES_ARGS}}

{{FEATURE_ARGS}}
{{SANITIZER_ARGS}}
{{HARDENING_ARGS}}

{{CFLAGS_ARGS}}
{{CFLAGS_EXTRA_ARGS}}

{{PCH_ARGS}}
{{MODULES_ARGS}}

{{DEPFILE_ARGS}}
{{MT_ARGS}}

{{OUTPUT_ARGS}}

{{INPUT_ARGS}}

{{LINKER_ARGS}}
{{LDFLAGS_ARGS}}
{{LIBDIR_ARGS}}
{{LIBS_ARGS}}
{{RPATH_ARGS}}

{{POST_LINK_ARGS}}
