{{LLD_EXE_ARGS}}

{{ACTION_ARGS}}

{{TARGET_ARGS}}
{{ARCH_ARGS}}
{{CPU_ARGS}}
{{SYSROOT_ARGS}}
{{SDK_ARGS}}

{{OUTPUT_ARGS}}

{{START_GROUP_ARGS}}
{{OBJECTS_ARGS}}
{{INPUT_ARGS}}
{{WHOLE_ARCHIVE_ARGS}}
{{LIBDIR_ARGS}}
{{LIBS_ARGS}}
{{END_GROUP_ARGS}}

{{RPATH_ARGS}}
{{SONAME_ARGS}}
{{MAP_ARGS}}
{{STRIP_ARGS}}

{{LDFLAGS_ARGS}}
{{LINKER_SCRIPT_ARGS}}
{{GC_SECTIONS_ARGS}}
{{ICF_ARGS}}
{{RELRO_ARGS}}
{{NOW_ARGS}}
{{PIE_ARGS}}

{{THREADS_ARGS}}
{{LTO_ARGS}}

{{EXPORTS_ARGS}}
{{VERSION_SCRIPT_ARGS}}

{{POST_LINK_ARGS}}
