[Desktop Entry]
Type=Application
Name=VITTE
GenericName=Systems Language Toolchain
Comment=Vitte IDE and toolchain
Exec=vitte-ide-gtk
Icon=vitte
Terminal=false
Categories=Development;IDE;
Keywords=compiler;language;toolchain;vitte;ide;editor;
NoDisplay=false
Actions=OpenGtk;OpenTui;OpenTerminal;

[Desktop Action OpenGtk]
Name=Open VITTE GTK IDE
Exec=vitte-ide-gtk

[Desktop Action OpenTui]
Name=Open VITTE Terminal IDE
Exec=vitte-ide
Terminal=true

[Desktop Action OpenTerminal]
Name=Open VITTE Shell
Exec=x-terminal-emulator -e bash -lc "vitte --help; exec bash"
Terminal=false
