[package]
name = "vitte_rust_api"
version.workspace = true
edition.workspace = true
license.workspace = true

[lib]
crate-type = ["staticlib", "cdylib"]

[dependencies]
vitte_common = { path = "../vitte_common" }
vitte_muf = { path = "../vitte_muf" }
vitte_unicode = { path = "../vitte_unicode" }
vitte_regex = { path = "../vitte_regex" }
