# toolchain/config/targets/linux_x86_64.toml
#
# Vitte toolchain target preset: Linux on x86_64.
#
# Native builds generally do not require sysroot.
# Cross builds can set sdk.sysroot and toolchain paths explicitly.

[target]
name   = "linux_x86_64"
triple = "x86_64-unknown-linux-gnu"

[os]
family = "linux"
name   = "linux"

[arch]
name  = "x86_64"
cpu   = "generic"
march = ""          # keep empty unless forcing -march=...

[abi]
name = "gnu"

[sdk]
kind        = "none"
use_xcrun   = false
sysroot     = ""          # native: empty; cross: set to sysroot
min_version = ""

[toolchain]
clang       = ""
clangxx     = ""
lld         = ""          # ld.lld or lld
llvm_ar     = ""
llvm_ranlib = ""

[compile]
lang_std_c   = "c17"
lang_std_cxx = "c++20"

opt   = "O2"
debug = "g0"
pic   = true
lto   = false

warnings = "default"
color_diagnostics = true

defines = [
  "VITTE_TARGET_LINUX=1",
  "VITTE_TARGET_X86_64=1",
]

include_dirs = [
  # "/usr/include",
  # "/usr/local/include",
]

[link]
use_lld = true
pie     = true
shared  = false

args = [
  # "-Wl,--as-needed",
]

[libraries]
lib_dirs = [
  # "/usr/lib",
  # "/usr/local/lib",
]

libs = [
  # "m",
  # "pthread",
  # "dl",
]

[output]
obj_ext  = ".o"
exe_ext  = ""
dll_ext  = ".so"
lib_ext  = ".a"
